In [4]:
import pandas as pd
df_desp = pd.read_excel('/home/luiz/Documentos/Transparência/Transparencia/DESPESAS 2023.xlsx')

In [5]:
df_desp.head()

,ANO,MES,COD_CLIENTE,COD_UNIDADE_GESTORA,NOME_UNIDADE_GESTORA,NOTA_EMPENHO,DATA_EMISSAO,CPF_CNPJ,NOME_CREDOR,OBSERVACAO_EMPENHO,...,COD_SUB_ITEM,NOME_ITEM,VAL_SALDO,VAL_EMPENHADO,VAL_LIQUIDADO,VAL_PAGO,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,2023,2,1,230204,AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA,2023NE00001,2023-02-27,58370510400,LUCIANA BARRETO ALMEIDA SILVA,Apropriação de despesa com o deslocamento até ...,...,371,DIARIAS A SERVIDORES,110,110,0,110,NaN,NaN,NaN,NaN
1,2023,2,1,230204,AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA,2023NE00002,2023-02-27,17490189268,SELMA FIGUEIREDO MELO FERREIRA,Apropriação de despesa com o deslocamento até ...,...,371,DIARIAS A SERVIDORES,330,330,0,330,NaN,NaN,NaN,NaN
2,2023,2,1,230204,AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA,2023NE00003,2023-02-27,24145718291,FABRICIO DE LIMA RODRIGUES,Apropriação de despesa com o deslocamento até ...,...,371,DIARIAS A SERVIDORES,1430,1430,0,1430,NaN,NaN,NaN,NaN
3,2023,2,1,230204,AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA,2023NE00004,2023-02-27,74584278253,BRUNO BRITO PINTO,Apropriação de despesa com o deslocamento até ...,...,371,DIARIAS A SERVIDORES,330,330,0,330,NaN,NaN,NaN,NaN
4,2023,2,1,230204,AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA,2023NE00005,2023-02-27,80372554253,SIMONE TIGUSA DE MELO MIYAKE,Apropriação de despesa com o deslocamento até ...,...,371,DIARIAS A SERVIDORES,330,330,0,330,NaN,NaN,NaN,NaN