In [91]:
import pandas as pd
df_desp_original = pd.read_excel('/home/luiz/Documentos/Transparência/Transparencia/DESPESAS 2023.xlsx')

In [92]:
df_desp_original.describe()

,ANO,MES,COD_CLIENTE,COD_UNIDADE_GESTORA,DATA_EMISSAO,COD_ELEMENTO,COD_TIPO_LICITACAO,IDT_DOCUMENTO,COD_SUB_ITEM,VAL_SALDO,VAL_EMPENHADO,VAL_LIQUIDADO,VAL_PAGO,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
count,8960.0,8960.000000,8960.0,8960.000000,8960,8960.000000,8960.000000,8960.000000,8960.000000,8.960000e+03,8.960000e+03,8.960000e+03,8.960000e+03,4.300000e+03,4.004000e+03,2.079000e+03,57.000000
mean,2023.0,2.453013,1.0,237544.943415,2023-01-31 15:43:13.928571392,339300.357589,7.982812,54719.239062,794.094420,2.196610e+05,2.965886e+04,1.631363e+05,1.416186e+04,1.457457e+05,1.026372e+05,1.318730e+05,45.684211
min,2023.0,1.000000,1.0,50101.000000,2017-06-07 00:00:00,319001.000000,3.000000,1462.000000,1.000000,-2.788693e+06,-2.787750e+06,-4.327101e+07,-6.000000e+03,-7.144116e+06,0.000000e+00,0.000000e+00,1.000000
25%,2023.0,2.000000,1.0,140101.000000,2023-02-07 00:00:00,339014.000000,6.000000,49560.750000,371.000000,4.000000e+02,5.000000e+00,0.000000e+00,8.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,26.000000
50%,2023.0,3.000000,1.0,250202.000000,2023-02-24 00:00:00,339018.000000,9.000000,52068.000000,826.000000,1.589000e+03,6.900000e+01,0.000000e+00,7.600000e+01,0.000000e+00,5.500000e+01,2.100000e+01,45.000000
75%,2023.0,3.000000,1.0,280101.000000,2023-03-14 00:00:00,339048.000000,9.000000,73932.250000,1129.000000,8.176000e+03,8.800000e+02,2.462250e+03,7.700000e+02,1.783500e+03,2.157750e+03,6.700000e+01,65.000000
max,2023.0,3.000000,1.0,500101.000000,2023-03-28 00:00:00,469071.000000,12.000000,76602.000000,1304.000000,3.048942e+08,3.616446e+07,3.048942e+08,9.244620e+06,4.327418e+07,9.850083e+07,4.418187e+07,97.000000
std,0.0,0.603430,0.0,82761.211334,NaN,19831.451977,1.762407,17970.874565,363.483702,3.783952e+06,5.351865e+05,3.777985e+06,1.990801e+05,1.637524e+06,1.691611e+06,1.958407e+06,27.264025

In [93]:
df_desp_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8960 entries, 0 to 8959
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ANO                   8960 non-null   int64
 1   MES                   8960 non-null   int64
 2   COD_CLIENTE           8960 non-null   int64
 3   COD_UNIDADE_GESTORA   8960 non-null   int64
 4   NOME_UNIDADE_GESTORA  8960 non-null   object
 5   NOTA_EMPENHO          8960 non-null   object
 6   DATA_EMISSAO          8960 non-null   datetime64[ns]
 7   CPF_CNPJ              8960 non-null   object
 8   NOME_CREDOR           8960 non-null   object
 9   OBSERVACAO_EMPENHO    8960 non-null   object
 10  COD_ELEMENTO          8960 non-null   int64
 11  NOME_ELEMENTO         8960 non-null   object
 12  COD_TIPO_LICITACAO    8960 non-null   int64
 13  NOME_TIPO_LICITACAO   8960 non-null   object
 14  IDT_DOCUMENTO         8960 non-null   int64
 15  COD_SUB_ITEM          8960 non-null   int64
 16  NOME_ITEM             8960 non-null   object
 17  VAL_SALDO             8960 non-null   int64
 18  VAL_EMPENHADO         8960 non-null   int64
 19  VAL_LIQUIDADO         8960 non-null   int64
 20  VAL_PAGO              8960 non-null   int64
 21  Unnamed: 21           4300 non-null   float64
 22  Unnamed: 22           4004 non-null   float64
 23  Unnamed: 23           2079 non-null   float64
 24  Unnamed: 24           57 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(12), object(8)
memory usage: 1.7+ MB

In [94]:
df_desp_original.head()

,ANO,MES,COD_CLIENTE,COD_UNIDADE_GESTORA,NOME_UNIDADE_GESTORA,NOTA_EMPENHO,DATA_EMISSAO,CPF_CNPJ,NOME_CREDOR,OBSERVACAO_EMPENHO,...,COD_SUB_ITEM,NOME_ITEM,VAL_SALDO,VAL_EMPENHADO,VAL_LIQUIDADO,VAL_PAGO,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,2023,2,1,230204,AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA,2023NE00001,2023-02-27,58370510400,LUCIANA BARRETO ALMEIDA SILVA,Apropriação de despesa com o deslocamento até ...,...,371,DIARIAS A SERVIDORES,110,110,0,110,NaN,NaN,NaN,NaN
1,2023,2,1,230204,AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA,2023NE00002,2023-02-27,17490189268,SELMA FIGUEIREDO MELO FERREIRA,Apropriação de despesa com o deslocamento até ...,...,371,DIARIAS A SERVIDORES,330,330,0,330,NaN,NaN,NaN,NaN
2,2023,2,1,230204,AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA,2023NE00003,2023-02-27,24145718291,FABRICIO DE LIMA RODRIGUES,Apropriação de despesa com o deslocamento até ...,...,371,DIARIAS A SERVIDORES,1430,1430,0,1430,NaN,NaN,NaN,NaN
3,2023,2,1,230204,AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA,2023NE00004,2023-02-27,74584278253,BRUNO BRITO PINTO,Apropriação de despesa com o deslocamento até ...,...,371,DIARIAS A SERVIDORES,330,330,0,330,NaN,NaN,NaN,NaN
4,2023,2,1,230204,AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA,2023NE00005,2023-02-27,80372554253,SIMONE TIGUSA DE MELO MIYAKE,Apropriação de despesa com o deslocamento até ...,...,371,DIARIAS A SERVIDORES,330,330,0,330,NaN,NaN,NaN,NaN

In [95]:
col_desp = ['ANO', 'MES', 'NOME_UNIDADE_GESTORA', 'VAL_SALDO']
df_desp = df_desp_original[col_desp]
df_desp.head()

    ANO  MES                       NOME_UNIDADE_GESTORA  VAL_SALDO
0  2023    2  AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA        110
1  2023    2  AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA        330
2  2023    2  AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA       1430
3  2023    2  AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA        330
4  2023    2  AGÊNCIA DE DEFESA E INSPEÇÃO AGROPECUÁRIA        330

In [96]:
df_desp = df_desp.groupby(['ANO', 'MES', 'NOME_UNIDADE_GESTORA',], as_index=False)['VAL_SALDO'].sum()
df_desp.head()

    ANO  MES                          NOME_UNIDADE_GESTORA  VAL_SALDO
0  2023    1  CENTRO DE GESTÃO DA TECNOLOGIA DA INFORMAÇÃO      90879
1  2023    1           COMPANHIA DE ÁGUA E ESGOTO DO AMAPÁ    2074312
2  2023    1        CONTROLADORIA-GERAL DO ESTADO DO AMAPÁ      24273
3  2023    1           DEFENSORIA PÚBLICA DO ESTADO - DPE    56556676
4  2023    1                   FUNDO DE ASSISTÊNCIA SOCIAL    2907539